@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
body {
  font-family: 'Public Sans', sans-serif;
  color: #fff;
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 10px;
}
.app--blocked{
  height: 100vh;
  overflow: hidden;
}